<!-- Button trigger modal -->
<button type="button" id="deposit-button" disabled class="btn btn-info btn-sm" data-toggle="modal" data-target="#depositModal">
  Deposit
</button>

<!-- Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="depositModalLabel">Deposit Ether for Betting</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="deposit-amount-input">Amount of Ether</label>
              <input class="form-control" id="deposit-amount-input" type="number" required placeholder="0.3" min="0" step="0.0000001" >
          </div>  
          <ul> Upon clicking Deposit a MetaMask confirmation prompt will appear, click Submit to complete the deposit. </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Cancel</button>
        <button type="submit" id="deposit-button-submit" class="btn btn-info" data-dismiss="modal">Deposit</button>
      </div>
    </div>
  </div>
</div>